* {
    font-family: 'Baloo Bhai', cursive;
}

body {
    margin: 0 auto;
}

.number {
    text-align: center;
    font-size: 50px;
}

#messageBox {
    width: 100%;
    font-size: 30px;
}

.match {
    background-color: chartreuse;
}